.contenido-ubicacion{
    width: 75vw;
    max-width: 1000px;
    max-width:320;
    margin: auto;
}

/************************************************************SECCION CONTACTO **************************************** */
.contacto{
    color: #fff;
    padding: 50px 0;
}
.contacto h2{
    color: #000000;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #efe9e9;
    color: #000000;
    font-size: 18px;
}
/* arriba texbobx NO TOCAR*/
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #000000;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #000000;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #efff12;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
/* RESPONSIVE contACTO */

@media screen and (max-width:700px){
.contacto .fila{
    display: block;
}
.contacto .fila .col{
    width: 100%;
}
}