<section class="contact-section bg-black" id="ContactUs">
    <!-- aaa -->
    <div class="container" id="ContactUs">
        <section class="projects-section bg-black" id="">
            <div class="mix-black-20 rounded">
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center bg-black">
                    <div class="col-lg-3 px-2"><!-- Primer seccion -->
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <!-- Boton -->
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  Contacto
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                <!-- Informacion dentro del desplegable -->
                                <div class="accordion-body">
                                  <strong>Numeros telefonicos</strong> <!-- Nombre del producto -->
                                  <br> <code>YourNumberHere</code> <br><br> <!-- Descripcion -->
                                  <strong>Correo electronico</strong>
                                  <br><code>YourEmail@Corporation.com</code><br><br> <!-- Precio del producto -->
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 px-2"><!-- Segunda seccion -->
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <!-- Boton -->
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Corporativo
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                <!-- Informacion dentro del desplegable -->
                                <div class="accordion-body">
                                    <a href="#!">Nuestra historia</a><br>
                                    <a href="#!">Terminos y condiciones</a><br>
                                    <a href="#!">Aviso de privacidad</a><br>
                                    <a href="#!">FAQs</a><br>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 px-2"><!-- Tercera seccion -->
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                <!-- Boton -->
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Servicio al cliente
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                                <!-- Informacion dentro del desplegable -->
                                <div class="accordion-body">
                                    <h4><a href="#!" class="text-black" style="text-decoration: none;">Garantia</a><br></h4>
                                    <a href="#!" class="text-black-50" style="text-decoration: none;">Cambios y devoluciones</a><br>
                                    <code><a href="#!" class="text-danger">YourEmail@Corporation.com</a></code>
                                    <h4><a href="#!" class="text-black" style="text-decoration: none;">Politicas de compra</a><br></h4>
                                    <a href="#!" class="text-black-50" style="text-decoration: none;">Preguntas frecuentes</a><br>
                                    <a href="#!" class="text-black-50" style="text-decoration: none;">Aviso de privacidad</a><br>
                                    <h4><a href="#!" class="text-black" style="text-decoration: none;">Formas de pago</a><br></h4>
                                    <a href="#!" class="text-black-50" style="text-decoration: none;">Cambios y devoluciones</a><br>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- aaa -->
    <div class="container px-4 px-lg-5 text-center text-white-50">
        ¡Contactanos en nuestras redes!
    </div>
    <div class="container px-4 px-lg-5">
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <!--a class="mx-2" href="#!"><i class="fab fa-github"></i></a-->
        </div>
    </div>
</section>
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">
        Copyright &copy; Muebles Garza 2023
    </div>
</footer>
</body>
</html>