<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muebleria</title>
    <link rel="icon" type="image/x-icon" href="assets/Mueble.ico" />
    <script src="js/all.js" crossorigin="anonymous"></script>
    <link href="css/valeraround.css" rel="stylesheet" />
    <link href="css/nunito.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/estiloscontacto.css">
    <link rel="stylesheet" href="css/SasTest.scss">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script> -->
</head>